<div class="jumbotron center">
	<h1>Frucket</h1>
	<p>Use collaborative upvoting to make planning anything a breeze.</p>
	<p><%= link_to "Adventure Today", adventureToday_path, class: "btn btn-primary btn-large" %></p>
</div>